/******* HEADER *******/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__social-icon {
    text-align: center;
    padding: 20px;
}
.icon {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.header__menu {
    display: flex;
    justify-content: end;
    padding: 5px 20px;
    list-style: none;
    position: relative;
}
.header__nav a:hover,
.header__nav a:active,
.header__nav a:visited {
    background-color: var(--purple);
    border-radius: 10px;
    color: var(--white);
}

.header__nav a {
    text-decoration: none;
    padding: 0.3em;
}

/******* MAIN *******/

.intro {
    background-color: var(--purple3);
    padding: 40px 0px 0px 20px;
    height: 300px;
    text-align: justify;
}
span:first-child {
    font-size: 3rem;
    color: var(--purple);
}

span:last-child {
    font-size: 2rem;
    color: #a7c8f9;
}

.projects {
    background-color: var(--aliceblue);
    text-align: center;
    color: var(--gray);
    padding: 30px 10px 50px 10px;
}
.projects h2 {
    margin-bottom: 50px;
}

.projects__menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: auto;
    max-width: auto;
    padding: 5px 20px;
}

.projects__item a {
    border: solid 2px var(--blue2);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    color: var(--blue2);
}

.projects__item a:hover {
    background: var(--purple2);
    color: var(--aliceblue);
}

/******* FOOOTER *******/

.footer p {
    background-color: rgb(36, 34, 34);
    font-size: 0.8em;
    text-align: center;
    padding: 20px;
    height: auto;
}
