/* ##### GENERAL #### */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
        sans-serif sans-serif;
}

body {
    background-color: antiquewhite;
}
/* ##### HEADER #### */

.header__title {
    text-align: center;
    padding: 5%;
    font-size: 25px;
    font-style: italic;
}
/* ##### MAIN BLOCK 1 #### */

.article__container {
    display: flex;
    align-items: stretch;
    min-width: 1200px;
}
.article__box {
    border: 1px solid black;
    padding: 1%;
    width: 25%;
    height: auto;
    text-align: center;
}
.article__box.box2 {
    width: 50%;
}

.text {
    padding: 2%;
    text-align: justify;
}
.a__title {
    padding: 5%;
    font-style: italic;
}
.article__box p {
    padding: 5% 5% 5% 5%;
    text-align: justify;
}

.responsive {
    width: 100%;
    height: auto;
}

/* ##### MAIN BLOCK 2 #### */

.article__box.box4 {
    border-top: none;
}

.div__container {
    width: 75%;
    color: aliceblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.div__box {
    padding: 5%;
}

.div__box.a {
    background-color: purple;
}
.div__box.b {
    background-color: rgb(164, 18, 164);
}
.div__box.c {
    background-color: rgb(224, 60, 224);
}
.div__box.d {
    background-color: rgb(234, 130, 234);
}
.div__box.e {
    background-color: rgb(247, 184, 247);
}
